/*


    Heimsnet.css (c) - 2020 Heimsnet.
    Created by european softworks ltd.


*

/* Global */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab&display=swap');

html,body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: hidden;
}

.burrito {
    height: 100%;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.button {
    padding: 15px;
    background-color: #4D62EA;
    color: white;
    text-decoration: none;
    overflow: hidden;
    border-radius: 7px;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    background-color: #4253c7;
}

/* Nav */

.nav {
    color: white;
    background-color: #4D62EA;
    overflow: hidden;
    z-index: 100;
}

.head {
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 14px;
    display: inline-block;
    font-size: 1.2rem;
}

.nav a:hover {
    background-color: #4253c7;
}

/* Hero */

.hero {
    height: 80%;
    background-image: url('../img/trevor-cole-salaAJW7Xdg-unsplash.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.centre {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.centre h1 {
    font-size: 3rem;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);
    font-family: 'Roboto Slab', serif;
}

/* Main */

.main {
    text-align: center;
}

/* Prices */

.prices {
    width: 100%;
    overflow: hidden;
}

.prices::after {
    clear: both;
}

.prices .price {
    width: 33%;
    float: left;
}

.prices .price .container {
    padding: 10px;
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
}

.prices .price .container h1 {
    margin-top: 0;
}

.prices .logo {
    font-size: 6rem;
    padding-top: 15px;
    color: #4D62EA;
}

.prices .smol {
    margin-top: 0;
}

@media only screen and (max-width: 600px) {
    .prices .price {
        width: 100%;
        float: none;
    }
    .prices .price .container {
        padding: 10px;
        border: 1px solid black;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 20px;
        border-radius: 15px;
    }
}

/* Discord join */

.discord {
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    padding-top: 50px;
}

.discord .fab {
    margin: 0;
    font-size: 5rem;
}

.discord h1 {
    margin: 0;
}

.discord p {
    font-size: 1.2rem;
}

.discord .button {
    padding-left: 40px;
    padding-right: 40px;
}

@media only screen and (max-width: 600px) {
    .discord {
        margin-left: 30px;
        margin-right: 30px;
    }
}